# Haskell
dist/
dist-newstyle/
cabal.project.local
cabal.project.local~
*.exe
*.PNG
*.hi
*.o
*.hi-boot
*.o-boot
*.dyn_hi
*.dyn_o
*.p_hi
*.p_o
.hpc/
.cabal-sandbox/
sandbox.config
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
.project-stack
.cabal-dev/
*.swp
*.dSYM/
*.
